{% load static %} <!-- New line -->
{% load crispy_forms_tags %}
{% load i18n %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<title>Login Form</title>
<link href="{% static "Code/css/style.css" %}" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
</head>

<body>
	<div id="box_bg">
	 <a href="/"><img src=" {% static "images/logo2.png" %}" alt="image" title="Benchcare Logo"></a>
	</div>

<!-- Box Start-->
<div id="box_bg">


<div id="content">
	<h1 class="blue">Sign In</h1>
	
	<!-- Social Buttons -->

	
	
	<!-- Login Fields -->
	<div id="login">Sign in using your registered account:<br/>
	<form action="#" method="POST" id="login-form">
		
        <fieldset>

    {% csrf_token %}

 {% crispy form %}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
	</div>
	
	<!-- Green Button -->
	

	<!-- Checkbox -->
	<div class="checkbox">
	<li>
	<fieldset>
	<![if !IE | (gte IE 8)]><legend id="title2" class="desc"></legend><![endif]>
	<!--[if lt IE 8]><label id="title2" class="desc"></label><![endif]-->
	<div>
		<span>
		<input id="Field" name="Field" type="checkbox" class="field checkbox" value="First Choice" tabindex="4" onchange="handleInput(this);" />
		
		</span>
	</div>
	</fieldset>
	</li>
	</div>

</div>
</div>

<!-- Text Under Box -->
<div id="bottom_text">
	Don't have an account? <a id="blue" href="/accounts/register">Sign Up</a><br/>
	
</div>

</body>
</html>
