{% extends "base.html" %}
{% block title %}Bench Care: Contact Us{% endblock %}
{% block content %}
    
    
    <section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    	<div class="container">
        	<h1 class="entry-title">Contact us</h1>
            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
        </div>
    </section>
    <div class="sub-page-content">
      <div class="container">
          <h2 class="light bordered">Get<span>Directions</span></h2>
            <div class="row">
              <div class="col-md-12">
                  <div class="map"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Nairobi,+Kenya&amp;aq=0&amp;oq=Nairo&amp;sll=37.0625,-95.677068&amp;sspn=41.496446,82.265625&amp;ie=UTF8&amp;hq=&amp;hnear=Nairobi,+Nairobi+Province,+Kenya&amp;ll=-1.292066,36.821946&amp;spn=0.410509,0.6427&amp;t=m&amp;z=11&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Nairobi,+Kenya&amp;aq=0&amp;oq=Nairo&amp;sll=37.0625,-95.677068&amp;sspn=41.496446,82.265625&amp;ie=UTF8&amp;hq=&amp;hnear=Nairobi,+Nairobi+Province,+Kenya&amp;ll=-1.292066,36.821946&amp;spn=0.410509,0.6427&amp;t=m&amp;z=11" style="color:#0000FF;text-align:left">View Larger Map</a></small>"></div>
                      <div class="get-directions">
                          <form action="http://maps.google.com/maps" method="get" target="_blank">
                               <input type="text" name="saddr" placeholder="Enter Your Address" />
                               <input type="hidden" name="daddr" value="Envato Pty Ltd, Elizabeth Street, Melbourne, Victoria, Australia" />
                               <input type="submit" value="Get directions" class="direction-btn" />
                            </form>
                        </div>
                </div>
            </div>
    
     <div class="row">
              <div class="col-md-8">
                  <h2 class="light bordered">Give us a <span>Message</span></h2>
                    <div class="contact-form">
                    <div id="error" class="" style="display:none;"></div>
                    <div id="message-contact" class="success" style="display:none;">Thank you! we'll contact you shortly.</div>
                    <form name="contact_form" id="contact_form" action="submit.php" method="post" onSubmit="return false;">
                    <input type="text" name="fname" id="fname" placeholder="First Name" onKeyPress="removeChecks();">
                    <input type="text" name="email_address" id="email_address" placeholder="Email Address" onKeyPress="removeChecks();">
                    <input type="text" name="subject" id="subject" placeholder="Subject">
                    <textarea placeholder="Message" name="msg" id="msg"></textarea>
                    <input type="submit" class="btn btn-default" value="Submit" onClick="validateContact();">
                    </form>
                    <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-4">
                  <h2 class="light bordered">get in <span>touch</span></h2>
                    <div class="get-in-touch-widget">
                      <ul class="list-unstyled">
                        <li><i class="fa fa-phone"></i>+254724490814</li>
                        <li><i class="fa fa-envelope"></i><a href="#.">support@benchcare.co</a></li>
                        <li><i class="fa fa-globe"></i><a href="#.">www.benchcare.co</a></li>
                        <li><i class="fa fa-clock-o"></i>Mon - Sat 9:00am - 6:00 pm</li>
                        <li><i class="fa fa-map-marker"></i>Nairobi Kenya</li>
                        </ul>
                    </div>
                    
                    <ul class="social-rounded">
                      <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#."><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="#."><i class="fa fa-dribbble"></i></a></li>
                      <li><a href="#."><i class="fa fa-youtube"></i></a></li>
                      <li><a href="#."><i class="fa fa-vimeo-square"></i></a></li>
                      <li><a href="#."><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#."><i class="fa fa-rss"></i></a></li>
                        <li><a href="#."><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#."><i class="fa fa-android"></i></a></li>
                        <li><a href="#."><i class="fa fa-flickr"></i></a></li>
                    </ul>
                    
                </div>
            </div>
            
        </div>
    </div>
        {% endblock %}
    
