{% extends "base.html" %}
{% block title %}Bench Care: How It Works{% endblock %}
{% block content %}
    
    
    <section class="sub-page-banner text-center" data-stellar-background-ratio="0.3">
    <div class="overlay"></div>
    	<div class="container">
        	<h1 class="entry-title">How Benchcare Works</h1>
            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
        </div>
    </section>
    
    
    <div class="sub-page-content">
    	
        
        <div class="container">
        	
            
            <h2 class="bordered light">Steps <span>In using Benchcare</span></h2>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled medicom-feature-list">
                        <li><i class="fa fa-check medicom-check"></i>Sign Up to create an account.</li>
                        <li><i class="fa fa-check medicom-check"></i>Sign In into your account.</li>
                        <li><i class="fa fa-check medicom-check"></i>Customize the dashboard to your preference.</li>
                        <li><i class="fa fa-check medicom-check"></i>Create Patients, Appointmnets and invoice paients directly.</li>
                        <li><i class="fa fa-check medicom-check"></i>Monitor, Report and Administer.</li>
                        
                    </ul>
                </div>
                 {% endblock %}
               