{% extends "baseslider.html" %}
{% block title %}Bench Care{% endblock %}
{% block content %}


    
    
    <div class="clearfix"></div>
    <section class="after-booking-sec text-center">
        <div class="container">
            <h1>Available Features</h1>
            </p>
            <ul class="medicom-feature-list list-inline text-left">
                <li><i class="fa fa-check medicom-check"></i>Patient Dashboard :- Lets you access in the same window your patients demographics, appointments and medical billing.</li>
                <li><i class="fa fa-check medicom-check"></i>Medical Records:-Track health records like diagnosis, medication, vitals and visits </li>
                
                <li><i class="fa fa-check medicom-check"></i>Appointments:- Schedule appointments and other events</li>
                <li><i class="fa fa-check medicom-check"></i>Invoicing:Take control of your financial documents Generate Invoices directly .</li>
                <li><i class="fa fa-check medicom-check"></i>Reporting:- Print and Export records from benchcare.</li>
                <li><i class="fa fa-check medicom-check"></i>Fast Setup:- No IT knowledge needed orinfrastucture.</li>
                <li><i class="fa fa-check medicom-check"></i>Privacy:- Guard your sensitive data with access based roles.</li>
            </ul>
        </div>
    </section>
    <div class="sub-page-content">
        
        
        
    
    <div class="content-index">
    
    

    {% endblock %}