<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sign &middot; Up</title>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="icon" type="static/image/png" href="static/images/fluidicon.png"/>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" href="static/css/semantic.min.css">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/pace.css">

        <style>
          html { font-family: 'Lato', sans-serif; }
        </style>

        <link rel="author" href="humans.txt">
    </head>
    <body>


      <div class="ui vertical labeled icon menu">
        <!-- 
        <a class="red item">
          <i class="white apple icon link icon"></i>
          Apple
        </a>
         -->

        <!-- 
        <a class="teal item">
          <i class="blue lab icon"></i>
          Lab
        </a>
         -->

        <a class="green item">
          <i class="green linux icon link icon"></i>
          Linux
        </a>

        <a class="green item">
          <i class="blue windows icon link icon"></i>
          Windows
        </a>

        <a class="green item">
          <i class="laptop icon link icon"></i>
          Laptop
        </a>

        <a class="green item">
          <i class="blue shield icon link icon"></i>
          Anitivirus
        </a>

        <a class="green item">
          <img src="static/icons/png/data.png" alt="" type="image/png">
          Databases
        </a>

        <a class="green item">
          <i class="green android icon link icon"></i>
          Android
        </a>

        <!--
        <a class="green item">
          <i class="bolt icon link icon"></i>
          Mobile
        </a>
        -->

        <a class="green item">
          <i class="red off icon link icon"></i>
          Logout
        </a>
      </div>

      <!--
      <div id="space1" class="ui vertical divider">
        <i class="huge hand right icon"></i>
      </div>
       -->



      <div id="space1">
        <i class="large block layout icon link icon"></i>
        <i class="large column layout icon link icon"></i>
        <i class="large grid layout icon link icon"></i>
        <i class="large list layout icon link icon"></i>
      </div>

      <div>
        <i class="huge folder icon link icon"></i>
        <i class="huge file icon link icon"></i>
        <i class="huge file outline icon link icon"></i>
        <img src="static/icons/png/search.png" alt="" type="image/png">
        <i class="large search icon link icon"></i>
      </div>

     


      <div id="space1" class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
      </div>
      

        <script src="static/js/jquery.min.js"></script>
        <script src="static/js/semantic.min.js"></script>
        <script src="static/js/pace.min.js"></script>

        <script>

          $('.blue.idea.basic.icon')
            .popup({
              on: 'hover',
              content: 'project ideas',
              target: '.blue.idea.basic.icon',
              inline: false
            })
          ;


          $('.ui.thin.very.sidebar')
          .sidebar({
            overlay: false
          })
          .sidebar('toggle');

        </script>
    </body>
</html>
